<div class="row pt-1">
    <div class="col-md-5 d-flex">
        <img class="paislogo" src="/assets/klubilogo.png" alt="">
        <div class="paisNimi">
            MATKA KLUBI
        </div>
    </div>
    <div class="col-md-7 paisMenyy">
        <div class="d-none d-md-flex flex-column flex-md-row">
            <ul>
                <li><a href="/"></a>ESILEHT</li>
                <li><a href="/uudised">UUDISED</a></li>
                <li><a href="/matkad">MATKAD</a></li>
                <li><a href="/kontakt">KONTAKT</a></li>
            </ul>
        </div>
    </div>
</div>