* {
    font-family: 'Montserrat', sans-serif;
}


.paisSektsioon {
    height: 778px;
    width: 100%;
    background-image: url('assets/Hills.png');
    background-size: cover;
    background-repeat: none;   
}

.paislogo {
    width: 70px;
    height: 70px;
}

.paisNimi {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    width: 126px;
    padding-left: 5px;
    line-height: 30px;
    padding-top: 5px;
}

.paisMenyy ul {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    margin: 0%;
    padding: 0;
}

.paisMenyy ul li {
    margin-left: 10px;
}

a {
    color: #0B0B0B;
}


@media screen and (min-width: 700px) {
    .paisMenyy ul {
        justify-content: flex-end;
    }
    
    .paisMenyy ul li {
        margin-left: 10px;
    }



}
@media screen and (min-width: 1400px) {
    .paisSektsioon {
        background-image: url('assets/Hills@2x.png');
        background-size: cover;
        background-repeat: none;
    }   
}

/* esileht */
.rida {
    padding-left: 65px;
    display: flex;
    text-transform: uppercase;
}

.paisSektsioon-pealkirjad {
    padding-top: 20px;
}

.paisSektsioon-pealkirjad h1,
.paisSektsioon-pealkirjad h2,
.paisSektsioon-pealkirjad h3 {
    font-weight: 700;
    letter-spacing: 0px;
    color: #0B0B0B;

}

@media screen and (min-width: 992px) {
    .paisSektsioon-pealkirjad {
        padding-top: 231px;
        font-weight: 700;
    }
}

.paisSektsioon-pealkirjad h2 {
    font-size: 39.57px;
    line-height: 42.74px;
}

.paisSektsioon-pealkirjad h1 {
    font-size: 74.39px;
    line-height: 91px;
}

.paisSektsioon-pealkirjad h3 {
    font-size: 20.83px;
    line-height: 29.17px;
}

.liblikas2 {
    width: 60px;
    height: 32px;
    margin-left: -60px;
}

.liblikas1 {
    width: 75.27px;
    height: 66.04px;
    margin-left: 140px;
    margin-top: -60px;
    
}

img.registreerumine-pilt {
    width: 35%;
    object-fit: cover;
}

img.uudis-pilt {
    width: 35%;
    object-fit: cover;
}

img.pildiURL {
    height: 35%;
}

.pealispilt {
    overflow: hidden;
}

.pealispilt .matkaja {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: -400px;

}

.pealispilt .vari {
    width: 751px;
    height: 87px;
    margin-top: -40px;
    margin-right: -172px;
}

@media screen and (min-width: 1200px) { 
    .container, .container-lg, .container-md, .container-sm, .container-xl { 
        max-width: 95%;
    }
}


.nupp-matkad {
    background-color:#0B0B0B;
    color: white;
    border: none;
    display: inline-block;
    margin-left: 68px;
    margin-top: 30px;
    font-size: 16.5px;
    height: 58px;
    width: 247px;
    font-family: 'Montserrat', sans-serif;
}

.matkadeSektsioon {
    margin-top: 60px;
}

.matkadKonteiner {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin-top: 15px;
}

.matkadKonteiner img {
    margin-top: 8px;
    height: 35%;
}

.matkad {
    display: flex;
    align-items: center;
}

.matkKonteiner img {
    width: 50%;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.matkKonteiner {
    padding-top: 30px;
    text-align: center;
}

.matkKirjeldus {
    word-wrap: break-word;
    width: 370px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Uudised */
.uudisedPealkiri {
    text-align: center;
    margin-top: 40px;
}

.uudisedKonteiner {
    padding-top: 50px;
}

.uudisedKonteiner .card {
    padding-top: 15px;
    margin-top: 15;
}

/* kontakt */
.kontaktKonteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    }
    
.teade {
    margin-top: 20px;
}

.teade-nimi {
    margin-top: 35px;
}

.teade-email {
    margin-top: 5px;
}

.teade-nupp {
    padding-left: 5px;
}

